<template>
    <div id="app">

        <div id="view-main" class="view view-main safe-areas"></div>

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7ready, $f7route, $f7router, $h, $on, $onMounted, $store, $theme, $update}) {

        let initializeViews = function() {

            $f7.views.create($el.value.find('#view-main'), {
                name: 'main',
                main: true,
                url: '/'
            });

        }

        $onMounted(function() {
            $f7ready(function() {
                initializeViews();
            });
        });

        return $render;
    }
</script>